* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    min-height: 100vh;
    background-image: url('image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

/* navbar  */

nav {
    font-size: 1em;
    position: sticky;
    top: 0;
    border: 2px solid white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.logo-main {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 5px 5px 2px #b6b3b3;
    pointer-events: none;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-icons {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.close {
    display: none;
}
.navlist {
    position: fixed;
    inset: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.9), rgba(0,0,0,0.5));
    font-size: 1.5em;
    z-index: 10;
    display: flex;
    gap: 2.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.nav-item {
    list-style: none;
}
.nav-item a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
    position: relative;
}
.nav-item a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .5s;
}
.nav-item a:hover::after {
    width: 100%;
}
.nav-item button {
    padding: .25em .5em;
    font-size: 1em;
    background-color: transparent;
    outline: none;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: .3s ease;
}
.nav-item button:hover {
    color: #000;
    background-color: #fff;
}

@media (min-width: 599px) {   
    .menu {
        display: none;
    }
    .navlist {
        position: relative;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        background: none;
        justify-content: center;
        align-items: center;
        gap: 1em;
        font-size: 1.25em;
    }
}
@media (min-width: 800px) {
    nav {
        padding-inline: 2em;
    }
    .navlist {
        gap: 2em;
    }
}

/* main */

main {
    height: fit-content;
}

/* login  */
.login-container {
    font-size: 16px;
    padding: 2em 1.5em;
    margin-block: 3em;
    margin-inline: 1em;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .25);
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.sign-in {
    display: none;
}
.sign-up {
    display: flex;
}
.form-h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    font-weight: 900;
}
.input-box {
    position: relative;
}
.input-span {
    position: absolute;
    top: .75em;
    left: 1em;
    pointer-events: none;
    color: #ffffff;
    transition: .5s ease;
}
input:not([type=checkbox]) {
    font-size: 1.1em;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fd558d;
    border-radius: 20px;
    padding: .5em 1em;
    width: 80vw;
    max-width: 300px;
    transition: .5s ease;
}
input[type=checkbox] {
    width: 1.25em;
    height: 1.25em;
}
input:focus, input:valid {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgb(253, 85, 141);
}
input:focus + .input-span,
input:valid + .input-span {
    color: #fff;
    font-weight: 600;
    top: -15px;
    left: 0;
}
.submit-btn {
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(255, 0, 85);
    padding: .5em 3em;
    border: none;
    border: 2px solid rgb(255, 0, 85);
    outline: none;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 20px;
    transition: .5s ease;
    cursor: pointer;
}
.submit-btn:hover, .submit-btn:focus {
    color: #fff;
    background-color: rgb(255, 0, 85);
    border: 2px solid rgb(255, 0, 85);
}
.login-h4 {
    color: #fff;
}
.form-icons ion-icon{
    font-size: 1.75em;
    margin-inline: .25em;
    border-radius: 10px;
    padding: .2em;
    color: #fff;
    transition: .3s ease;
}
.form-icons ion-icon:hover {
    color: rgb(255, 0, 85);
    background-color: #fff;
}
.sign-in-link {
    color: rgb(255, 0, 85);
    font-weight: 600;
    cursor: pointer;
}
/* footer  */

footer {
    height: 100px;
    width: 100%;
    background-color: #989aa23d;
    box-shadow: 0px -20px 80px 100px #989aa23d;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}
.footer-text {
    font-size: 1em;
    color: #bbb7b7;
    margin-bottom: 1em;
}
.footer-main {
    color: #f28ae4;
}
.footer-icons {
    margin-bottom: 2.5em;
    display: flex;
    gap: 2em;
}
.social {
    color: #bbb7b7;
    scale: .75;
    transition: .25s ease;
}
.social:hover {
    color: #fff;
    scale: 1;
}
@media (min-width: 599px) {
    .footer-text {
        font-size: 1.25em;
    }
}